@import "_family.scss";
//breakpoint
//@import "mixin/_breakpoint.scss";

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@function calculateRem($size){
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size){
  font-size: calculateRem($size);
}


@mixin arrow($direction, $color, $size){
    display: block;
    height: 0;
    width: 0;
    content: '';
    
    @if $direction == 'top' {
        border-left: $size solid transparent;
    	border-right: $size solid transparent;
    	border-bottom: $size solid $color;
    } @else if $direction == 'right' {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
    	border-left: $size solid $color;
    } @else if $direction == 'bottom' {
        border-top: $size solid $color;
        border-right: $size solid transparent;
        border-left: $size solid transparent;
    } @else if $direction == 'left' {
        border-top: $size solid transparent;
    	border-right: $size solid $color;
    	border-bottom: $size solid transparent;
    } @else if $direction == 'top-left' {
        border-top: $size solid $color; 
        border-right: $size solid transparent;	
    } @else if $direction == 'top-right' {
        border-top: $size solid $color; 
        border-left: $size solid transparent;
    } @else if $direction == 'bottom-left' {
        border-bottom: $size solid $color; 
        border-right: $size solid transparent;	
    } @else if $direction == 'bottom-right' {
        border-bottom: $size solid $color; 
        border-left: $size solid transparent;
    }
}

@mixin appearance ($value) {
	-webkit-appearance: $value;
	   -moz-appearance: $value;
	        appearance: $value;
}

//vertical-center
@mixin center($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     -o-transform: translate(-50%, -50%);

  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
     -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);

  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
      -webkit-transform:translate(0, -50%);
          -ms-transform: translate(0, -50%);
              -o-transform: translate(0, -50%);
  }
}
//text one line last ...
@mixin oneline(){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
