//path
$images-path : "../images";
//space
$space0:0px;
$space5:5px;
$space10:10px;
$space15:15px;
$space20:20px;
$space25:25px;
$space30:30px;
$space35:35px;
$space40:40px;
$space45:45px;
$space50:50px;
$space60:60px;
$space70:70px;

//font-size
$font10:10px;
$font12:12px;
$font14:14px;
$font16:16px;
$font18:18px;
$font20:20px;
$font22:22px;
$font24:24px;
$font26:26px;
$font28:28px;
$font30:30px;
$font32:32px;
$font34:34px;
$font36:36px;
$font38:38px;
$font40:40px;

//color
$black:#000;
$white:#fff;
$yellow:#e9c21c;
$pink:#fb6f6f;
$darkblue:#1d2345;
$grey:#585858;
$grey-regular:#5a5a5d;  
$greylight:#a4a0a0;
$grey-dark:#322f2f;
$grey-medium:#565656;
$coffe:#82421e;
$common:#49494d;
$blue:#365498;
$red:#e91d00;
$bluedark:#059ff5;
$green:#1e9d6d;

//font-famaily
$ubuntulight:'ubuntulight';
$ubuntumedium:'ubuntumedium';
$ubunturegular:'ubunturegular';

//bg-color
$bg-grey-regular:#efefef; 
$bg-grey:#ebe5e5;
$bg-pink-light:#f9f3f3;
$bg-btn:#e6e7e8;
$bg-blurdark:#445895;
$bg-red:#e54f36;
$bg-common:#f6f6f6;
$btn-apply:#545454;
//border
$grey-border:1px solid #4c4c4c;
$border-common:1px solid #dadada;
$border1:1px solid;
$border2:2px solid;

//Media Query
$breakpoint-lg: "(max-width : 1169px)";      // lg = max 1169
$breakpoint-md: "(max-width : 992px)";      //  md = max 992
$breakpoint-sm: "(max-width : 767px)";     //   sm = max 767
$breakpoint-xs: "(max-width : 480px)";    //    xs = max 480








