input[type="checkbox"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
	width: 30px;
	height: 30px;
	border-radius: 4px;
	cursor: pointer;
	border: 2px solid #ddd;
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
}
input[type="checkbox"]:checked, .checkbox input[type="checkbox"]:checked, .checkbox-inline input[type="checkbox"]:checked {
	background: #47aaff;
	border-color: #47aaff;
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
}

input[type="checkbox"]::after, .checkbox input[type="checkbox"]::after, .checkbox-inline input[type="checkbox"]::after {
	position: absolute;	
	display: block;	
	left: 6px;
	top: -4px;
	font-weight: bold;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "x";
	color: #ddd;	
	font-size: 22px;
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
}
input[type="checkbox"]:checked::after, .checkbox input[type="checkbox"]:checked::after, .checkbox-inline input[type="checkbox"]:checked::after {
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	font-size: 18px;
	content: "\f00c";
	color: #fff;
	left: 5px;
	top: 5px;
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
}
.xform{
	display: inline-block;
}
.xform input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

.xform label {
	color: #777;
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
	padding: 7px 10px;
	margin-bottom: 0;
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	min-width: 120px;
	text-align: center;
	background: #fff;
  	border: 1px solid #777;
  	border-radius: 4px;
  	font-weight: inherit;
  	margin-right: 4px; 
}

.xform input[type=radio]:checked + label {
  color: #fff;
  background: #47aaff;
  border: 1px solid #47aaff;
  border-radius: 4px;
}



.xform .radio-group { 
  display: inline-block;
  overflow: hidden;
}
.inline30{
	display: inline-block;
	width: 30%;
}
.inline60{
	display: inline-block !important;
	width: 60%;
}
.inline50{
	display: inline-block !important;
	width: 48%;
}
.alert.alert-xinfo.inline label{
	margin-bottom: 0;		
}
.alert-xinfo{
	background: #f6f6f6;
	border : 1px solid #ddd;
	overflow-x: hidden;
}
.tab-content {
  padding-top: 10px;
}
.tabs-left {
  padding-top: 0px;
  border-right: 1px solid #ddd;
}
.tabs-left>li:first-child{
  border-top: 1px solid #ccc;
}
.tabs-left>li {
  float: none;
  margin-bottom: 0px;
  margin-right: -1px;
  border-bottom: 1px solid #ccc;
  background:#fcfcfc;   
}
.tabs-left>li:hover{
	background: #fff;
}
.tabs-left>li.active {	
	border-left: 2px solid #47aaff;
}
.tabs-left>li a{
  color: #47aaff;
  border:0;  
  margin-right: 0;
  display: block;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li>a:hover,
.tabs-left>li.active>a:focus {
  border-right-color: transparent;
  border:0;
  color: #47aaff;
}
.tabs-left>li>a {
}
.tabs-left>li>a:hover{ 
  margin-right: 0;
  display: block;
  background: #fcfcfc;
}
td span[data-toggle="tooltip"]:after{
  font-family: FontAwesome;
  color: #1E91CF;
  content: "\f059";
  margin-left: 4px;
}
.help{
  font-size:10px;
  color:grey;
}
.input-group{
	width: 100%;
}
.input-group+.input-group{
	margin-top: 10px;
}
.design{
	width:100%;
	display:table;
	table-layout: fixed;
}
.design-options{
	display:table-cell;
	cursor: pointer;
	
}
.design-options label{
	text-align: center;
	margin-top: 5px;
	display: block;
}
.colors{
	border: 1px solid #ddd;
	width:90%;
	display:table;
	table-layout: fixed;
	margin: 0 auto;
}
.sub-color{
	display: table-cell;
	height: 20px;
}
.nav-tabs{
	margin-bottom: 0;
}
.nav.nav-tabs.tab-horizontal{
	margin-bottom: 20px;
}
.nav-tabs.tab-horizontal > li{	
	display: inline-block;
}
.nav-tabs.tab-horizontal > li:hover{	
	display: inline-block;
}
.nav-tabs.tab-horizontal > li > a{
	border-radius: 0;
	border-bottom: 2px solid transparent;
	display: block;
	padding: 0px 30px 15px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-weight: 600;
	font-size: 13px;
}
.nav-tabs.tab-horizontal > li > a:hover,.nav-tabs.tab-horizontal > li.active > a, .nav-tabs.tab-horizontal > li.active > a:hover, .nav-tabs.tab-horizontal > li.active > a:focus{
	font-weight: 600;
	color: #47aaff;
	background-color: #fff;
	border: 0;
	border-bottom: 2px solid #47aaff;
	cursor: default;
	display: block;
	margin-bottom: 0px;
	margin-right: 0px;
}
.nav-tabs.tab-horizontal > li > a:hover{	
	cursor: pointer;
	margin-bottom: 0px;
	margin-right: 0px;
}
.licensewell.well{
	background: #fff;
}
.input-group-addon.validatelicense{
	color: #fff;
	background-color: #8fbb6c;
	border-color: #7aae50;
	cursor: pointer;	
}
.xcapitalize{
	text-transform: capitalize;
}