.blog{padding-bottom: 70px;
    .read-btn{ border: $border1 $black; @include font-size(13px); text-transform: uppercase; display: inline-block; padding: 12px 30px;
               &:hover{background: darken(#f4f4f4,5%);}
            }
}
.blog-banner{background: #f4f4f4; text-align: center; align-items: center;
             article{padding: 0 18px;}
            span{@include font-size(20px); @extend .font-medium; display: block;}
            p{color: #545454; @extend .font-light; padding: 15px 0; line-height: 24px;}
}
.blog-main{
    .left{text-align: center; width: 767px;
        .heading{@include font-size(20px); @extend .font-medium;
                 &:after{@include size(30px, 2px); background: $yellow; content: ''; margin:15px auto; display: block;}
        }
        .date{color: #999999; @include font-size(13px);
              &:before{font-family: 'FontAwesome'; content: '\f073'; margin-right: 7px;}
        }
        .view{
            &:before{content: '\f06e';}
        }
        img{margin: $space10 $space0;}
        p{color: #545454; text-align: left; line-height: 24px;}
        .social{
            li{display: inline-block; margin-left: $space10;
       a{color: #d1d1d1; @include font-size(16px);
         &:hover{color: darken(#d1d1d1,10%);}
       }
    }
    }
    .bottom{align-items: center; margin-top: $space20;}
    .read-btn{@include font-size(12px); color: #999999; border-color: #d1d1d1;}
    article{border-bottom: $border1 #d1d1d1; padding: $space40 $space0 $space25;}
    }
    .pagination{margin-top: $space45;
        li{display: inline-block;
           &:first-child{
               a{
                   &:before{display: inline-block; font-family: 'FontAwesome'; content: '\f177'; margin-right: 5px;}
               }
           }
           &:last-child{
               a{
                   &:after{display: inline-block; font-family: 'FontAwesome'; content: '\f178'; margin-left: 5px;}
               }
           }
        }
        a{border:$border1 #e9e9e9; color: #828282; display: block; padding: 10px 12px; margin: 0 4px;
          &.active{background: $yellow; color: #000; border-color: $yellow;}
        }
    }
    aside{margin-top: $space35+1;
          .title{@include font-size(15px); color: $yellow; text-align: center; margin-top: -8px;
                 span{ padding: 0 18px; background: $white;}
        }
        .title-border{margin-bottom: 28px;
    &:after{ display: block; border-top: $border1 #e9e9e9; content: ''; margin-top: -8px;}
}
    }
}
.blog-newsletter{width: 350px; border: $border1 #e9e9e9; text-align: center; padding: 0 28px 35px;
                .social-list{padding: $space30 $space0;}
                p{text-transform: uppercase; @extend .font-medium; padding-bottom: $space35;}
                .form-control{border:$space0; border-bottom: $border1 #d1d1d1; @include border-radius(0); height: 44px; padding:0 10px 0 24px; background: url("#{$images-path}/blog/mail.png") no-repeat 0 center;}
                .btn{background: $black; text-transform: uppercase; color: $white; border:$space0; width: 100%; margin-top: 20px; padding:15px 0; cursor: pointer;
                     &:hover{background: lighten($black,20%);}
                }
}
.blog-recent{margin: $space50 $space0;
             .title-border{margin-bottom: 15px;}
img{@include size(110px,73px);}
p{float: right; width: 205px; @include font-size(13px); line-height: 18px;}
small{display: block; color: #999999; padding-bottom: 2px;}
a{border-bottom: $border1 #e9e9e9; padding: 15px 0; display: flex; justify-content: space-between; align-items: center}
}


// Blog Detail
.blog-detail{
    .blog-main{
        .left{
            p{padding: $space10 - 2 $space0;}
            .title{@include font-size(20px); @extend .font-medium; border-bottom: $border1 #e9e9e9; display: block; text-align: left; padding-bottom: $space10; margin: $space10 $space0;}
            .textul{ list-style-type: disc;}
            ol{list-style-type: decimal;}
            .textcom{ margin-left: 35px;
                li{ text-align: left; color: #545454;line-height: 24px; padding: 3px 0;}
            }
            .bottom{justify-content: flex-end;}
            article{border-bottom: $space0;}
        }
    }
}