//colors
$black: #000;
$white: #fff;
$color_celeste_approx: #ccc;
$color_concord_approx: #7c7c7c;

//urls
$url_0: url(images/controls.png);
$url_1: url(images/border.png);
$url_2: url(images/loading_background.png);
$url_3: url(images/loading.gif);

//@extend-elements
//original selectors
//#colorbox, #cboxOverlay, #cboxWrapper
%extend_1 {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	overflow: hidden;
}

//original selectors
//#cboxLoadingOverlay, #cboxLoadingGraphic
%extend_2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

//original selectors
//#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose
%extend_3 {
	border: 0;
	padding: 0;
	margin: 0;
	overflow: visible;
	position: absolute;
	top:10px;
	background: $url_0 no-repeat 0 0;
	width: 23px;
        outline:none;
	height: 23px;
	text-indent: -9999px;
}


#colorbox {
	@extend %extend_1;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: content-box;
	outline: 0;
}
#cboxOverlay {
	@extend %extend_1;
	position: fixed;
	width: 100%;
	height: 100%;
	background:rgba(black, 0.6);
	opacity: 0.9;
	filter: alpha(opacity = 90);
}
#cboxWrapper {
	@extend %extend_1;
	max-width: none;
}
#cboxMiddleLeft {
	clear: left;
	width: 14px;
	background: $url_0 repeat-y -175px 0;
}
#cboxBottomLeft {
	clear: left;
	width: 14px;
	height: 43px;
	background: $url_0 no-repeat 0 -32px;
}
#cboxContent {
	position: relative;
	background: $white;
	overflow: visible;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: content-box;
}
#cboxLoadedContent {
	overflow: auto;
	margin-bottom: 5px;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: content-box;
}
#cboxTitle {
	margin: 0;
	position: absolute;
	bottom: -25px;
	left: 0;
	text-align: center;
	width: 100%;
	font-weight: bold;
	color: $color_concord_approx;
}
#cboxLoadingOverlay {
	@extend %extend_2;
	background: $url_2 no-repeat center center;
}
#cboxLoadingGraphic {
	@extend %extend_2;
	background: $url_3 no-repeat center center;
}
#cboxPrevious {
	cursor: pointer;
	@extend %extend_3;
	left: 0;
	background-position: -51px -25px;
	&:active {
		outline: 0;
	}
	&:hover {
		background-position: -51px 0;
	}
}
#cboxNext {
	cursor: pointer;
	@extend %extend_3;
	left: 27px;
	background-position: -75px -25px;
	&:active {
		outline: 0;
	}
	&:hover {
		background-position: -75px 0;
	}
}
#cboxClose {
	cursor: pointer;
	@extend %extend_3;
	right: 0;
	background-position: -100px -25px;
	&:active {
		outline: 0;
	}
	&:hover {
		
	}
        background:url(../images/cross.png) no-repeat;
}
#cboxSlideshow {
	cursor: pointer;
	@extend %extend_3;
	&:active {
		outline: 0;
	}
}
.cboxPhoto {
	float: left;
	margin: auto;
	border: 0;
	display: block;
	max-width: none;
}
.cboxIframe {
	width: 100%;
	height: 100%;
	display: block;
	border: 0;
	padding: 0;
	margin: 0;
	background: $white;
}
#cboxTopLeft {
	width: 14px;
	height: 14px;
	background: $url_0 no-repeat 0 0;
}
#cboxTopCenter {
	height: 14px;
	background: $url_1 repeat-x top left;
}
#cboxTopRight {
	width: 14px;
	height: 14px;
	background: $url_0 no-repeat -36px 0;
}
#cboxBottomCenter {
	height: 43px;
	background: $url_1 repeat-x bottom left;
}
#cboxBottomRight {
	width: 14px;
	height: 43px;
	background: $url_0 no-repeat -36px -32px;
}
#cboxMiddleRight {
	width: 14px;
	background: $url_0 repeat-y -211px 0;
}
#cboxError {
	padding: 50px;
	border: 1px solid $color_celeste_approx;
}
#cboxCurrent {
	position: absolute;
	bottom: -25px;
	left: 58px;
	font-weight: bold;
	color: $color_concord_approx;
}
.cboxSlideshow_on #cboxSlideshow {
	background-position: -125px 0;
	right: 27px;
	&:hover {
		background-position: -150px 0;
	}
}
.cboxSlideshow_off #cboxSlideshow {
	background-position: -150px -25px;
	right: 27px;
	&:hover {
		background-position: -125px 0;
	}
}