.product-detail-main{
     .product-detail-price{width:248px;} 
     .product-detail-offer{width:135px; margin-top:$space5;} 
    aside{
        ul{
            span{width:180px;}
            li{font-size:$font12+1;}  
        }
    }
    .product-slider-box{
        .flex-viewport{width: 430px;}
    }
}   

